.content {
  background-color: #d30808;
  height: calc(100vh - 104px);
  display: flex;
  align-items: center;
  justify-content: center;
  button:hover {
    cursor: pointer;
  }
  .box-login {
    background-color: #ffffff;
    border: 3px solid #d9dbe9;
    width: 504px;
    height: 465px;
    text-align: center;
    .login {
      margin: 0px 45px;
      text-align: initial;
      h1 {
        margin-top: 35px;
        font-size: 36px;
        color: #d30808;
        font-weight: 600;
        line-height: 50.4px;
      }
      p {
        font-size: 16px;
        line-height: 24px;
        a {
          color: black !important;
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
        }
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        input {
          font-size: 16px;
          width: 100%;
          padding: 7px 8px;
          border: 1px solid #d9dbe9;
          background-color: #ffffff !important;
        }

        input:focus {
          outline: none !important;
          border-color: #d9dbe9;
        }
        input:nth-child(1) {
          margin: 10px 0px 24px 0px;
        }
        input:nth-child(2) {
          margin-bottom: 12px;
        }
        a {
          align-self: flex-end;
          text-decoration: none;
          color: black;
          font-size: 16px;
          line-height: 24px;
          text-decoration: underline;
        }
        button {
          width: 100%;
          margin-top: 24px;
          background-color: #d30808;
          height: 30px;
          border-radius: 30px;
          border: 1px solid #d30808;
          font-size: 16px;
          line-height: 24px;
          color: #ffffff;
        }
        button:disabled {
          background-color: #ffffff;
          border: 1px solid #d30808;
          color: #d30808;
        }
      }
    }
  }
}
