<div class="content">
  <div class="account">
    <h1>Meu Cadastro</h1>
    <p class="config">Configure o seu cadastro.</p>
    <div class="first-box">
      <h2>Dados da conta</h2>
      <form action="">
        <label for="">Nome completo</label>
        <input class="disabled-input" type="text" name="" id="" />
        <label for=""
          >Apelido
          <span class="config"
            >(Obrigatório) Como aparecerá nos seus anúncios.</span
          ></label
        >
        <input type="text" name="" id="" />
        <label for="">CPF</label>
        <input
          class="disabled-input"
          mask="000.000.000-0"
          type="text"
          name=""
          id=""
        />
        <label for="">Gênero</label>
        <section>
          <input type="radio" /><span>Feminino</span>
          <input type="radio" /><span>Masculino</span>
          <input type="radio" /><span>Não informar</span>
        </section>

        <button>Salvar alteração</button>
      </form>
    </div>

    <div class="second-box">
      <div class="sub-box">
        <span
          >E-mail
          <span class="info"
            >Luiz.Nicolau@gmail.com
            <span class="verify"
              ><span class="material-icons">check</span>Verificado</span
            >
          </span>
          <span class="edit">Alterar</span></span
        >
        <hr class="hr" />
        <span
          >Telefone
          <span class="info"
            >(63)99999-9999
            <span class="verify"
              ><span class="material-icons">check</span>Verificado</span
            > </span
          ><span class="edit">Alterar</span></span
        >
        <hr class="hr" />
      </div>
      <div class="address">
        <div class="head">
          <h2>Endereço</h2>
          <button class="material-icons">add</button>
        </div>
        <div class="body">
          <section>
            <p class="block">Quadra ARSE 13 alameda 11, 3</p>
            <p class="log">Sede Administrativa - Plano Diretor Sul</p>
            <div class="foot">
              <p>Palmas - TO</p>
              <p>77020-122</p>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
