.chatbot {
  width: 750px;
  margin: 10px;
  .options-container {
    width: 750px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
  }

  button[mat-raised-button] {
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
  }

  .numeric-container input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    margin-top: 20px;
  }
  button.selected {
    background-color: #3f51b5;
    color: #fff;
    border: 1px solid #3f51b5;
  }
  .error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 4px;
  }
}
.navigation-buttons {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 20px 15px 10px 10px;

  .cancel {
    background-color: #ffffff;
    border: 1px solid #d30808;
    color: #d30808;
    padding: 10px 20px;
    border-radius: 5px;
  }
  .cancel:hover {
    cursor: pointer;
    background-color: #d30808;
    color: #ffffff;
  }

  .send {
    border-radius: 20px;
    border: 0px;
    background: #00c500;
    color: white;
  }
  .send:hover {
    cursor: pointer;
  }
}
