.content {
  background-color: #d30808;
  height: calc(100vh - 104px);
  display: flex;
  .chat {
    width: 25%;
    margin-top: 40px;
    p {
      margin-left: 24px;
      font-weight: 600;
      font-size: 30px;
      line-height: 42px;
      color: #c0c0c0;
      width: 80%;
    }
    span {
      margin: 0px 40px;
      display: block;
      width: 100%;
    }
    mat-form-field {
      margin: 0px 40px;
    }
    button {
      font-size: 20px;
      font-weight: 600;
      background-color: #141414;
      color: white;
      border: none;
      margin: 0px 80px;
      height: 48px;
      width: 125px;
    }
    button:hover {
      cursor: pointer;
    }
  }
  .card {
    padding-top: 15px;
    width: 100%;
    background-color: #fff;
    .search {
      margin-bottom: 36px;
      margin: 0px 0px 36px 90px;
      input {
        width: 55%;
        height: 56px;
        border: 1px solid #cccccc;
        border-radius: 8px;
        padding-left: 15px;
      }
      button {
        margin-left: 16px;
        width: 10%;
        height: 48px;
        border: 1px solid #e42222;
        border-radius: 8px;
        background: #e42222;
        color: white;
      }
    }
    .mt-cards {
      display: flex;
      flex-wrap: wrap;
      .cards {
        max-width: 28%;
        border: 3px solid #cccccc;
        border-radius: 30px;
        margin: 0px auto 30px auto;
        mat-card-content {
          display: flex;
          padding-bottom: 0px;
          section {
            h3 {
              font-weight: 700;
              font-size: 12px;
              line-height: 14.52px;
              margin: 8px 0px 0px 0px;
              color: #000000;
            }
            p {
              font-size: 10px;
              font-weight: 700;
              line-height: 12px;
              color: #686262;
            }
          }
          p {
            margin: 8px 0px;
          }
          .km {
            margin-top: 27px;
            width: 40%;
            font-size: 10px;
            color: #686262;
            font-weight: 700;
            display: flex;
            span {
              color: #d30808;
              font-size: 16px;
            }
          }
        }
      }
    }

    .example-header-image {
      background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
      background-size: cover;
    }
  }
}
