<div class="content">
  <div class="chat">
    <p>Responda o chat e tenha acesso as melhores ofertas para você</p>
    <button (click)="startChat1()">Iniciar Chat</button>
  </div>
  <div class="card">
    <section class="search">
      <input placeholder="Pesquise" type="text" />
      <button>Ir</button>
    </section>
    <div class="mt-cards">
      <mat-card class="cards" *ngFor="let data of ofertas">
        <img
          *ngIf="!data.linkImagens[0]; else showImagem"
          src="../../../assets/img/sem_foto.png "
          alt="sem imagem"
        />
        <ng-template #showImagem>
          <img mat-card-image src="{{ data.linkImagens[0] }}" />
        </ng-template>
        <mat-card-content>
          <section>
            <h3>
              {{ data.modelo }}, {{ data.anoModelo }} |
              <span>R$ {{ data.preco }}</span>
            </h3>
            <p>{{ data.quilometragem }} mil km, {{ data.descricao }}</p>
          </section>

          <p class="km">
            <span class="material-symbols-outlined"> location_on </span>
            {{ parteInteiraDistancia(data.distanciaEmKM) }} KM
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
