<div class="content">
  <div class="chat">
    <p>Responda o chat e tenha acesso as melhores ofertas para você</p>
    <button (click)="startChat1()">Iniciar Chat</button>
  </div>
  <div class="card">
    <section class="search">
      <input [(ngModel)]="term" placeholder="Pesquise" type="text" />
      <button (click)="searchTerm()">Ir</button>
      <button class="limpar" *ngIf="filtroAtivo" (click)="limparFiltro()">
        Limpar Filtro
      </button>
    </section>
    <div class="mt-cards">
      <mat-card class="cards" *ngFor="let data of ofertas">
        <img
          *ngIf="!data.linkImagens[0]; else showImagem"
          src="../../../assets/img/sem_foto.png "
          alt="sem imagem"
          style="border-radius: 80px"
        />
        <ng-template #showImagem>
          <img mat-card-image src="{{ data.linkImagens[0] }}" />
        </ng-template>
        <mat-card-content>
          <h3>
            {{ data.modelo }}, {{ data.anoModelo }} |
            <span>R$ {{ data.preco }}</span>
          </h3>
          <section>
            <p>{{ data.quilometragem }} mil km, {{ data.descricao }}</p>
            <p class="km">
              <span class="material-symbols-outlined"> location_on </span>
              {{ parteInteiraDistancia(data.distanciaEmKM) }} KM
            </p>
          </section>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
