<div class="content">
  <div class="chat">
    <p>Responda o chat e tenha acesso as melhores ofertas para você</p>
    <span>Qual a pergunta?</span>
    <mat-form-field>
      <mat-label>Selecionar</mat-label>
      <mat-select>
        <mat-option value="option">Option 1</mat-option>
        <mat-option value="option">Option 2</mat-option>
        <mat-option value="option">Option 3</mat-option>
      </mat-select>
    </mat-form-field>
    <button>Proximo</button>
  </div>
  <div class="card">
    <section class="search">
      <input placeholder="Pesquise" type="text" />
      <button>Ir</button>
    </section>
    <div class="mt-cards">
      <mat-card class="cards">
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <section>
            <h3>Sandero, 2013 | <span>R$ 550</span></h3>
            <p>140 mil km, Ar condicionado, vidros elétricos ...</p>
          </section>

          <p class="km">
            <span class="material-symbols-outlined"> location_on </span>À 10 KM
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card class="cards">
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <section>
            <h3>Sandero, 2013 | <span>R$ 550</span></h3>
            <p>140 mil km, Ar condicionado, vidros elétricos ...</p>
          </section>

          <p class="km">
            <span class="material-symbols-outlined"> location_on </span>À 10 KM
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card class="cards">
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <section>
            <h3>Sandero, 2013 | <span>R$ 550</span></h3>
            <p>140 mil km, Ar condicionado, vidros elétricos ...</p>
          </section>

          <p class="km">
            <span class="material-symbols-outlined"> location_on </span>À 10 KM
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card class="cards">
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <section>
            <h3>Sandero, 2013 | <span>R$ 550</span></h3>
            <p>140 mil km, Ar condicionado, vidros elétricos ...</p>
          </section>

          <p class="km">
            <span class="material-symbols-outlined"> location_on </span>À 10 KM
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card class="cards">
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <section>
            <h3>Sandero, 2013 | <span>R$ 550</span></h3>
            <p>140 mil km, Ar condicionado, vidros elétricos ...</p>
          </section>

          <p class="km">
            <span class="material-symbols-outlined"> location_on </span>À 10 KM
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card class="cards">
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <section>
            <h3>Sandero, 2013 | <span>R$ 550</span></h3>
            <p>140 mil km, Ar condicionado, vidros elétricos ...</p>
          </section>

          <p class="km">
            <span class="material-symbols-outlined"> location_on </span>À 10 KM
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
