.container {
  margin: 20px;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #686262;
}
#vehicleCarousel {
  text-align: center;
}

.carousel img {
  max-height: 300px;
  object-fit: cover;
}
.details-section {
  margin-top: 20px;
}
.details-section h5 {
  font-weight: bold;
}
.info-card {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.second-box {
  display: flex;
  margin: 43px 0px 30px 0px;
  box-shadow: 2px 4px 17px 0px #0000004d;
  border-radius: 7px;
  padding-bottom: 40px;
  .sub-box-1 {
    padding-top: 35px;
    width: 33%;
    .hr {
      border: 1px solid #cccccc;
      margin-top: 20px;
    }
    span {
      font-size: 14px;
      line-height: 24px;
      .info {
        color: #686262;
        margin-left: 10px;
      }
      .verify {
        color: #29b611;
        margin-left: 10px;
      }
      .edit {
        color: #d30808;
        float: right;
      }
    }
  }
  .sub-box-2 {
    width: 33%;
    padding-top: 35px;
    .hr {
      border: 1px solid #cccccc;
      margin-top: 20px;
    }
    span {
      font-size: 14px;
      line-height: 24px;
      .info {
        color: #686262;
        margin-left: 10px;
      }
      .verify {
        color: #29b611;
        margin-left: 10px;
      }
      .edit {
        color: #d30808;
        float: right;
      }
    }
  }
  .sub-box-3 {
    width: 33%;
    padding-top: 35px;
    .hr {
      border: 1px solid #cccccc;
      margin-top: 20px;
    }
    span {
      font-size: 14px;
      line-height: 24px;
      .info {
        color: #686262;
        margin-left: 10px;
      }
      .verify {
        color: #29b611;
        margin-left: 10px;
      }
      .edit {
        color: #d30808;
        float: right;
      }
      .loc {
        width: 100%;
        display: block;
        margin: 0;
        color: #686262;
      }
    }
  }

  div {
    margin: 0px 95px;
  }

  .address {
    margin: 0px;
    .head {
      display: flex;
      justify-content: space-between;
      margin-top: 35px;
      h2 {
        font-weight: 600;
        font-size: 18px;
      }
      button {
        width: 40px;
        height: 40px;
        border-radius: 19px;
        border: 0px solid #d30808;
        background-color: #d30808;
        color: #ffffff;
      }
    }
    .body {
      border: 1px solid #cccccc;
      border-radius: 7px;
      section {
        margin: 12px;
        .block {
          font-size: 18px;
          line-height: 24px;
          font-weight: 600;
          color: #000000;
        }
        p {
          color: #686262;
          font-size: 14px;
          font-weight: 300;
        }
        .foot {
          margin: 0px;
          display: flex;
          p:nth-child(1) {
            margin-right: 21.5%;
          }
        }
      }
    }
  }
}
