@import "ngx-toastr/toastr";
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/* Suavidade nas transições */
* {
  transition: all 0.3s ease;
}
