<app-navbar></app-navbar>
<div class="content">
  <div class="box-login">
    <div class="login">
      <h1>Criar usuário</h1>
      <p>Já possui uma conta? <a href="/login">Faça o login!</a></p>
      <form [formGroup]="loginForm" (ngSubmit)="createUser()">
        <label>Nome</label>
        <input
          type="text"
          required
          formControlName="name"
          placeholder="Ex. Maria "
        />

        <label>E-mail</label>
        <input
          formControlName="email"
          placeholder="E-mail"
          type="email"
          name=""
          id=""
        />
        <mat-error
          *ngIf="
            loginForm.get('email')?.hasError('required') &&
            loginForm.get('password')?.touched
          "
        >
          E-mail é obrigatório
        </mat-error>
        <mat-error
          *ngIf="
            loginForm.get('email')?.hasError('email') &&
            loginForm.get('password')?.touched
          "
        >
          Formato de E-mail inválido
        </mat-error>
        <label>Senha</label>
        <input
          formControlName="password"
          placeholder="Senha"
          type="password"
          name=""
          id=""
        />
        <mat-error
          *ngIf="
            loginForm.get('password')?.hasError('required') &&
            loginForm.get('password')?.touched
          "
        >
          A senha é obrigatória
        </mat-error>
        <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
          Senha deve ter pelo menos 6 caracteres
        </mat-error>

        <label>CPF</label>
        <input
          type="text"
          placeholder="Ex. 000.000.000-00"
          required
          formControlName="personRegistration"
        />

        <label>CEP</label>
        <input type="text" required formControlName="cep" />

        <label>Longitude</label>
        <input type="text" formControlName="longitude" />

        <label>Latitude</label>
        <input type="text" formControlName="latitude" />

        <a href="/recovery">Esqueceu a senha?</a>
        <button type="submit">Criar</button>
      </form>
    </div>
  </div>
</div>
