<div class="content">
  <div class="account">
    <h1>Cadastro de oferta</h1>
    <p class="config">Configure o seu cadastro.</p>
    <div class="first-box">
      <h2>Dados da conta</h2>
      <form action="">
        <label for="">Modelo</label>
        <input class="disabled-input" type="text" name="" id="" />
        <label for=""
          >Apelido
          <span class="config"
            >(Obrigatório) Como aparecerá nos seus anúncios.</span
          ></label
        >
        <input type="text" name="" id="" />
        <label for="">Ano de Fabricação</label>
        <input
          class="disabled-input"
          mask="000.000.000-0"
          type="text"
          name=""
          id=""
        />
        <label for="">Ano do Modelo</label>
        <section>
          <input type="radio" /><span>Feminino</span>
          <input type="radio" /><span>Masculino</span>
          <input type="radio" /><span>Não informar</span>
        </section>

        <label for="">Preço</label>
        <label for="">Descrição</label>
        <label for="">Quilometragem</label>
        <label for="">Condição</label>
        <label for="">Latitude</label>
        <label for="">Longitude</label>
        <label for="">Imagens</label>
        <label for="">Tipo do Veiculo</label>
        <label for="">Combustivel</label>
        <label for="">Estado do Veiculo</label>
        <label for="">Caracteristica</label>

        <button>Salvar alteração</button>
      </form>
    </div>
  </div>
</div>
