<div class="content">
  <div class="account">
    <h1>Cadastro de oferta</h1>
    <p class="config">Configure o seu cadastro.</p>
    <div class="first-box">
      <h2>Dados da conta</h2>
      <form [formGroup]="veiculoForm" (ngSubmit)="addVeiculo()" action="">
        <label for="">Modelo</label>
        <input
          formControlName="modelo"
          class="disabled-input"
          type="text"
          name=""
          id=""
        />
        <label for="">Ano de Fabricação</label>
        <input class="disabled-input" type="text" name="" id="" />
        <label for="">Ano do Modelo</label>
        <input type="text" />
        <label for="">Preço</label>
        <input type="text" />
        <label for="">Descrição</label>
        <input type="text" />
        <label for="">Quilometragem</label>
        <input type="text" />
        <label for="">Condição</label>
        <input type="text" />
        <label for="">Coordenadas</label>
        <input type="text" />
        <label for="">Imagens</label>
        <input
          type="file"
          id="image-upload"
          accept="image/*"
          multiple
          (change)="onFilesSelected($event)"
        />
        <!-- Visualizar as imagens selecionadas -->
        <div *ngIf="previewUrls.length > 0">
          <p>Pré-visualizações:</p>
          <div *ngFor="let preview of previewUrls">
            <img
              [src]="preview"
              alt="Pré-visualização da imagem"
              style="max-width: 200px; max-height: 200px; margin: 5px"
            />
          </div>
        </div>
        <label for="">Tipo do Veiculo</label>
        <input type="text" />
        <label for="">Combustivel</label>
        <input type="text" />
        <label for="">Estado do Veiculo</label>
        <input type="text" />
        <label for="">Caracteristica</label>
        <input type="text" />

        <button>Salvar alteração</button>
      </form>
    </div>
  </div>
</div>
