.content {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
  button:hover {
    cursor: pointer;
  }
  .account {
    width: 681px;
    h1 {
      margin-bottom: 0px;
    }
    .config {
      font-size: 11px;
      color: #979797;
      line-height: 24px;
      margin: 0px;
    }
    .first-box {
      border: 1px solid #ffffff;
      box-shadow: 2px 4px 17px 0px #0000004d;
      border-radius: 7px;
      h2 {
        margin: 40px 0px 0px 95px;
      }
      form {
        margin: 0px 95px 40px 95px;
        label {
          display: block;
          width: 100%;
        }
        input {
          color: #686262;
          padding-left: 10px;
          width: 100%;
          height: 30px;
          border: 1px solid #d9dbe9;
          margin: 5px 0px 15px 0px;
        }
        input:focus {
          border-color: #d9dbe9;
        }
        section {
          input[type="radio"] {
            height: auto !important;
            width: auto;
            margin: 5px 5px 0px 0px;
            accent-color: #d30808;
          }
          span {
            font-size: 16px;
            margin-right: 10px;
            color: #686262;
          }
        }
        button {
          padding: 0px 15px;
          margin-top: 20px;
          background-color: #d30808;
          height: 30px;
          border-radius: 30px;
          border: 1px solid #d30808;
          font-size: 14px;
          line-height: 24px;
          color: #ffffff;
        }
      }
    }
  }
}

.disabled-input {
  background-color: #d9dbe9;
}
